main {
    margin: 50px 100px;
    font-family: 'Source Sans 3', sans-serif;
}

.linebreak {
    width: 100%;
    align-self: center;
    height: 4px;
    background: #000;
}

.toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 20px;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    z-index: 2000;
    animation: slideUpAndDown 5s ease-in-out forwards;
    border-radius: 5px;
}

.toast.success {
    background-color: #0f9d58;
}

.toast.error {
    background-color: #eb2d2d;
}

@keyframes slideUpAndDown {
    0% {
        opacity: 0;
        transform: translate(-50%, 50px);
        /* Começa 50px abaixo */
    }

    15% {
        opacity: 1;
        transform: translate(-50%, 0);
        /* Sobe para a posição final */
    }

    85% {
        opacity: 1;
        transform: translate(-50%, 0);
        /* Mantém-se visível */
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 50px);
        /* Sobe ligeiramente ao sumir */
    }
}
